{% assign id_base_root = section.title | slugify %}
<section id="{{ id_base_root }}">
    <div class="row">
        <div class="col-12">
            <h1>{{ section.title }}</h1>
            {% if site[section.nested_content] != null %}
            {% assign sections = site[section.nested_content] | sort: 'order' %}
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for nested_section in sections %}
                {% if nested_section.include != null %}
                {% assign active_class = "" %}
                {% assign aria_selected = "false" %}
                {% if nested_section.order == 1 %}
                {% assign active_class = " active" %}
                {% assign aria_selected = "true" %}
                {% endif %}
                {% assign id_base = nested_section.title | slugify %}
                <li class="nav-item">
                    <a class="list-group-item list-group-item-action{{ active_class}}" id="{{ id_base_root }}{{ id_base }}Tab" data-toggle="tab" href="#{{ id_base_root }}{{ id_base }}Content" role="tab" aria-controls="{{ id_base_root }}{{ id_base }}Content" aria-selected="{{aria_selected}}">{{ nested_section.title }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            <div class="tab-content" id="{{ id_base_root }}Content">
                {% for nested_section in sections %}

                {% if nested_section.include != null %}
                {% assign id_base = nested_section.title | slugify %}
                {% assign active_class = "" %}
                {% if nested_section.order == 1 %}
                {% assign active_class = " show active" %}
                {% endif %}
                <div class="tab-pane fade{{ active_class }}" id="{{ id_base_root }}{{ id_base }}Content" role="tabpanel" aria-labelledby="{{ id_base_root }}{{ id_base }}Tab">
                    {% include {{ nested_section.include }} %}
                </div>
                {% endif %}
                {% endfor %}
            </div>


            {% else %}
            {{ section.content }}
            {% endif %}

        </div>
    </div>
</section>
