

<ul class="nav flex-column" role="tablist">
    {% for content_section in NestedTOCSections %}


    {% assign active_class = "" %}
    {% assign aria_selected = "false" %}
    {% if content_section.order == 1 %}
    {% assign active_class = " active" %}
    {% endif %}
    {% assign id = '_' | append: content_section.order %}
    {% assign id_toc_base = id_content_base | append: id %}
    <li class="nav-item">
        <a class="nav-link{{ active_class}}" id="{{ id_toc_base }}Tab" href="#{{ id_toc_base }}Heading">{{ content_section.title }}</a>
    </li>
    {% endfor %}
</ul>
<div class="accordion" id="{{ id_content_base }}Accordion">
    {% for content_section in NestedTOCSections %}
    {% assign id = '_' | append: content_section.order %}
    {% assign id_toc_base = id_content_base | append: id %}
    {% assign active_class = "" %}
    {% if content_section.order == 1 %}
    {% assign active_class = " show active" %}
    {% endif %}
    <div class="card">
        <div class="card-header" id="{{ id_toc_base }}Heading">
            <h3 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{ id_toc_base }}Content" aria-expanded="true" aria-controls="{{ id_toc_base }}Content">
                    {{ content_section.title }}
                </button>
            </h3>
        </div>

        <div id="{{ id_toc_base }}Content" class="collapse" aria-labelledby="{{ id_toc_base }}Heading" data-parent="#{{ id_content_base }}Accordion">
            <div class="card-body">
                {{ content_section.content }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>