 {% assign NestedTOCSections = site[nested_section.nested_content] | sort: 'order' %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    {% for content_section in NestedTOCSections %}


    {% assign active_class = "" %}
    {% assign aria_selected = "false" %}
    {% if content_section.order == 1 %}
    {% assign active_class = " active" %}
    {% endif %}
    {% assign id = '_' | append: content_section.order %}
    {% assign id_toc_base = id_content_base | append: id %}
    <li class="nav-item">
        <a class="nav-link{{ active_class}}" id="{{ id_toc_base }}Tab" href="#{{ id_toc_base }}">{{ content_section.title }}</a>
    </li>
    {% endfor %}
</ul>
    {% for content_section in NestedTOCSections %}
{% assign id = '_' | append: content_section.order %}
	{% assign id_toc_base = id_content_base | append: id %}
    {% assign active_class = "" %}
    {% if content_section.order == 1 %}
    {% assign active_class = " show active" %}
    {% endif %}
<div class="row" id="{{ id_toc_base }}">
    <div class="col-12">
        <h3>{{ content_section.title }}</h3>
        {{ content_section.content }}
    </div>
</div>
    {% endfor %}