{% assign id_base_root = section.title | slugify %}
<div id="{{ id_base_root }}" class="row">
    <div class="col-12">
        <h1>{{ section.title }}</h1>
        {% if site[section.nested_content] != null %}
        {% assign nested_sections = site[section.nested_content] | sort: 'order' %}
        <div>type: {{ section.nested_content_type }}</div>
        {% if section.nested_content_type != null %}
        {% include TabsLayout.html %}
        {% else %}
        {% include TOCLayout.html %}
        {% endif}
        {% elseif  %}
        {{ section.content }}
        {% endif %}
    </div>
</div>