<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="py-5">
        <div class="container page-content">
            {% assign sections = site.sections | sort: 'order' %}
            {% for section in sections %}
            {% if section.include != null %}
            {% include {{ section.include }} %}
            {% else %}
            {% include sections/default.html %}
            {% endif %}
            {% endfor %}
            {{ content }}
        </div>
    </div>

    {%- include footer.html -%}

  </body>

</html>
