<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

<body>

    {%- include header.html -%}
    {% assign sections = site.sections | sort: 'order' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div class="list-group">
                    {% for section in sections %}
                    {% assign active_class = "" %}
                    {% if section.order == 1 %}
                    {% assign active_class = " active" %}
                    {% endif %}
                    {% assign id_base = section.title | slugify %}
                    <a class="list-group-item list-group-item-action{{ active_class}}" id="{{ id_base }}Tab" data-toggle="list" href="#{{ id_base }}Content" role="tab" aria-controls="{{ id_base }}Content">{{ section.title }}</a>
                    
                    {% endfor %}
                </div>                
            </div>
            <div class="col-8">
                <div class="tab-content" id="PageContent">
                    {% for section in sections %}

                    {% assign id_base = section.title | slugify %}
                    {% assign active_class = "" %}
                    {% if section.order == 1 %}
                    {% assign active_class = " show active" %}
                    {% endif %}
                    <div class="tab-pane fade{{ active_class }}" id="{{ id_base }}Content" role="tabpanel" aria-labelledby="{{ id_base }}Tab">
                        {% include SideMenuSection.html %}
                    </div>
                    {% endfor %}
                </div>                    
                    {{ content }}
                </div>
            </div>
    </div>   

    {%- include footer.html -%}

</body>

</html>
