{% assign SiteTitle = site.title | escape %}
{% assign PageName = page.title | escape %}
{% assign PageNameClass = PageName | downcase|append: '-page'  %}
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="{{PageNameClass}}">


{%- include head.html -%}
{%- include preScripts.html -%}
<body class="fixed-sn">
    <header>{%- include header.html -%}</header>
    <main>{%- include main.html -%}</main>
    <footer>{%- include footer.html -%}</footer>
</body>
{%- include postScripts.html -%}
</html>
